version: 1
disable_existing_loggers: false

formatters:
  default:
    format: '%(asctime)s | %(levelname)-8s | %(name)s - %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'
  access:
    format: '%(asctime)s | %(levelname)-8s | %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'

handlers:
  default:
    formatter: default
    class: logging.StreamHandler
    stream: ext://sys.stderr
  access:
    formatter: access
    class: logging.StreamHandler
    stream: ext://sys.stdout

loggers:
  uvicorn:
    handlers: [default]
    level: INFO
  uvicorn.error:
    level: INFO
  uvicorn.access:
    handlers: [access]
    level: INFO
    propagate: false
